
// this is the header that holds all the button used to move around the website
div(class="header")
    button(type="button" onclick="galleryPage()") Gallery
    button(type="button" id = "loginButton" onclick="loginPage()") Login 
    button(type="button" id = "registerButton" onclick="registerPage()") Register
    button(type="button" onclick="logout()") Logout
    button(type="button" onclick="userHome()") User Home